# PANDAS LEARNING

## Data Wrangling

In [1]:
import pandas as pd

## Syntax

In [2]:
# creating dataframe
df = pd.DataFrame({'a':[4, 5, 6],'b':[7, 8, 9],'c':[10, 11, 12]}, index=[1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [7]:
df.loc[:,["a","c"]]

   a   c
1  4  10
2  5  11
3  6  12

In [10]:
df.iloc[2,2]

12

In [4]:
df2= pd.DataFrame([[4, 7, 10], [5, 8, 11],[6, 9, 12]], index=[1, 2, 3], columns=['a','b','c'])
df2

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
# create a dataframe with multi index
df3 = pd.DataFrame({'a':[4, 5, 6],'b':[7, 8, 9],'c':[10, 11, 12]},index= pd.MultiIndex.from_tuples([('d',1),('d',2),('e',3)], names=['n','v']))
df3

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12