# Callenge-Pokemon

![](./images/pok.jpg)

# Pokemon

This will be an exercise about pokemon statistics!

```Q1. Start by loading the dataset in ../data/pokemon.csv.
Have a quick view at the data.
```

In [2]:
# TODO : Import the dataset pokemon.csv in a new DataFrame
### START ###

import numpy as np
import pandas as pd
import os 

path_to_data = os.path.join('..','data','pokemon.csv')
pokemon = pd.read_csv(path_to_data)
pokemon.head()

### END ###

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

```Q3. Find and display the Pokemon(s) name with the 'highest HP'.```

In [3]:
# TODO : what is the pokemon with the highest HP?
### START ###
pokemon[pokemon['HP']==pokemon['HP'].max()]['Name']

261    Blissey
Name: Name, dtype: object

```Q4. Find and display the Pokemon(s) name with the 'lowest attack'.```

In [6]:
pokemon[pokemon['Attack'] == pokemon['Attack'].min()]['Name']

121    Chansey
488    Happiny
Name: Name, dtype: object

```Q5. A pokemon can be a mix of 2 types: 'Type 1' and 'Type 2. Let's try to identify the most frequent Pokemon type
     Count the number of Pokemon per type 1
     Count the number of Pokemon  per Type 2
     Find out the most frequent type (summing occurences in Type 1 and type 2)
```

In [7]:
# TODO : what are the frequencies of types in type 1?
### START ###
# count number of pokemon per type

type1_count = pokemon['Type 1'].value_counts()
type2_count = pokemon['Type 2'].value_counts()

total_type_count = type1_count + type2_count

# retrieve the most frequent type
#method 1:

total_type_count.idxmax()

#method 2:
total_type_count.sort_values(ascending=False).index[0]

### END ###

'Water'

```Q6. Get the type 1 with the 'highest attack on average'.```

In [9]:
type1_mean_attack = pokemon.groupby('Type 1')['Attack'].mean()
type1_mean_attack.sort_values().index[-1]

'Dragon'

```Q7. We want to compare legendary vs non legendary pokemons'.
    Create a new column 'Total' containing the total of points for eachPokemon.
    Compute the mean of Total for legendary and for non legendary Pokemon
    Conclude on the strength of legendary pokemons```

In [13]:
### START ###
pokemon['Total2'] = np.sum(pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed']], axis=1)

mean_total_legendary = pokemon[pokemon['Legendary']==True]['Total'].mean()
mean_total_non_legendary = pokemon[pokemon['Legendary']==False]['Total'].mean()

print(f'Legendary: {mean_total_legendary}')
print(f'non Legendary: {mean_total_non_legendary}')

Legendary: 637.3846153846154
non Legendary: 417.21360544217686

```Q8. Filter the DataFrame on only 'mega Pokemons' the ones that contains 'mega' in the name.```

```Drop the mega evolutions of generation 5(it was not a good generation). How many evolutions is there left ? 
How many evolutions is therer left ?```

In [16]:
# TODO: Extract the mega evolution pokemons only (with 'mega' in the name)
### START ###

mega = pokemon[pokemon['Name'].str.contains('Mega')]
mega.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,495

In [17]:
mega_non_gen_5 = mega[mega['Generation']!=5]
mega_non_gen_5.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,495

In [18]:
# TODO: print the number of mega evolution (without generaton 5)

len(mega_non_gen_5)

48